body {
    margin: 0;
}

.buy {
    /*background-color: rgba(11,162,100,0.4);*/
    /*color: rgb(166,189,213)*/
    background-color: #15785566;
    color: rgb(44, 232, 156);
}

.sell {
    /*background-color: rgba(157,43,56,0.4);*/
    /*color: rgb(166,189,213)*/
    background-color: #d1261b66;
    color: rgb(255, 117, 132);
}

.ant-layout-content {
    height: calc(100vh - 36px);
    padding: 24px;
    overflow: auto;
}

.hoverable {
    cursor: pointer;

    &:hover td {
        background-color: rgba(179, 199, 219, .2) !important;
    }
}

.ant-card {
    background-color: rgb(30, 44, 57);
}

.ant-table-wrapper .ant-table.ant-table-small {
    font-size: 12px;
}

.ant-layout-header {
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
    background-color: rgb(30, 44, 57);

    .ant-menu-dark {
        background: inherit;

        .ant-menu-item {
            color: rgba(166, 189, 213, 0.45);
        }

        &.ant-menu-horizontal {
            .ant-menu-item-selected {
                background-color: transparent;
                color: #b3c7db;
            }
        }
    }
}

.ant-divider-horizontal.ant-divider-with-text {
    margin: 8px 0;
}

.ant-row > .ant-form-item{
    margin-bottom: 0;
}

.ant-layout-sider, .ant-menu-dark{
    background: rgb(30, 44, 57);
}

.ant-menu-inline .ant-menu-item{
    margin-inline: 0px;
    margin-block: 0px;
    width: calc(100%);
}

.ant-layout-sider .ant-layout-sider-trigger{
    background: rgb(23, 35, 46);
    max-width: 300px;
    bottom: 20px;
    left: 8px;
}