body {
    margin: 0;
}

.ant-layout-content {
    height: calc(100vh - 36px);
    padding: 24px;
    overflow: auto;
}

.hoverable {
    cursor: pointer;

    &:hover td {
        background-color: rgba(179, 199, 219, .2) !important;
    }
}

.ant-card {
    background-color: rgb(30, 44, 57);
}

.ant-table-wrapper .ant-table.ant-table-small {
    font-size: 12px;
}

.ant-layout-header {
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
    background-color: rgb(30, 44, 57);

    .ant-menu-dark {
        background: inherit;

        .ant-menu-item {
            color: rgba(166, 189, 213, 0.45);
        }

        &.ant-menu-horizontal {
            .ant-menu-item-selected {
                background-color: transparent;
                color: #b3c7db;
            }
        }
    }
}